.cont {
  background: linear-gradient(
    208.75deg,
    #9f48d3 -0.84%,
    rgba(41, 35, 35, 0) 82.29%
  );
  width: 100%;
  box-shadow: -10px 0px 10px rgb(0 0 0 / 0.2);
}

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 6.5vw;
}

.name {
  color: white;
  font-size: 27px;
  line-height: 20px;
  margin-top: 50px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  display: flex;
  margin-top: 7%;
  height: 78.5%;
  justify-content: space-between;
}

.messages {
  background-color: black;
  height: 100%;
  width: 23vw;
  border-radius: 40px 0 0 0;
  display: flex;
  flex-direction: column;
}

.msg {
  padding-left: 3vw 3vw;
  display: flex;
  justify-content: space-evenly;
}

.imgHome {
  margin-left: 15vw;
  margin-top: 30px;
}

.msginbody {
  background-color: #282c31;
  height: 100%;
  width: 100%;
}

.msgbody {
  height: 100%;
  width: 100%;
  padding: 2vw 3vw;
  overflow: auto;
}

.outBox {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerBox {
  background: #1e1d2b;
  height: 80vh;
  width: 70vw;
  border-radius: 20px;
  padding: 8vh 5vw;
}

.innerBox {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5vw;
}

.leftDetails {
  background: radial-gradient(
    90.96% 90.96% at 50% 9.04%,
    rgba(159, 72, 211, 0.45) 0%,
    rgba(43, 44, 62, 0) 100%
  );
  border-radius: 25px;
  width: 26vw;
  height: 64vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.names {
  color: white;
}

.editBtn {
  background-color: #16c79a;
  border: none;
  color: white;
  border-radius: 15px;
  height: 5vh;
  width: 7vw;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}

.infoRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(
      89.84% 94.97% at 103.61% 64.76%,
      rgba(159, 72, 211, 0.33) 0%,
      rgba(43, 44, 62, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.heading {
  width: 100%;
  background: linear-gradient(
      180deg,
      #1e1d2b 47.92%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(270deg, #d963e2 0%, #444c64 100%);
  color: white;
  font-size: 24px;
}

.ftext {
  display: inline-flex;
  gap: 4px;
  height: 30px;
}

.flabel {
  font-size: 23px;
  width: 150px;
  color: white;

  font-weight: 600;
}

.finput {
  font: inherit;
  padding: 5px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.formDtls {
  display: grid;
  gap: 20px;
  max-width: 300px;
}

.gender {
  background-color: #1e1d2b;
}

.body2 {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.outerbox2 {
  background: #1e1d2b;
  width: 75vw;
  height: 72vh;
  border-radius: 20px;
  padding: 50px;
}

.grid {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8vw;
}
